body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #d1f6ea;
}

.quem-somos{
    background-color: #63ad93;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #d1f6ea;
}

.bg-footer{
    background-color: black;
    color: white;
}